[submodule "deps/flecs"]
	path = deps/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "deps/emscripten"]
	path = deps/emscripten
	url = https://github.com/emscripten-core/emscripten.git
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/deps/SDL_image"]
	path = deps/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/SDL_image"]
	path = deps/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "deps/nanovg"]
	path = deps/nanovg
	url = https://github.com/Wesxdz/nanovg.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/Wesxdz/glfw.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
[submodule "deps/clipseg"]
	path = deps/clipseg
	url = https://github.com/timojl/clipseg.git
